# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. Scikit-Learn
8. Pytorch etc....

|Data Science Tool
|---|
|Apache Hadoop|
|SAAS|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List of Popular Languages for Data Science
* List of Popular Libraries for Data Science
* List of well known tools for Data Science
* How to provide comments in a cell

## Author

Sai Chetan Reddy